// These colors are specific to the theme. Do not use in a package!

@cursor-color: #9DA4AC;

@comment-ink:       #444B52;
@invisible-ink:     #444B52;
@very-light-ink:    #616971;
@light-ink:         #9DA4AC;
@ink:               #BBC1C7;
@dark-ink:          #D7DBDF;

@heading-ink: @dark-ink;

@quote-color:         #839EBB;
@quote-support-color: @very-light-ink;

@citation-symbol-color: @very-light-ink;
@citation-name-color:   @light-ink;


@emphasize-color: spin(saturate(@light-ink, 25%), -7);
@emphasize-quote-color: spin(saturate(@quote-color, 40%), -10);


@bold-color:        lighten(@emphasize-color, 10%);
@bold-quote-color:  @quote-color;

@paperwhite:  #15181A;
@text-selection-color: lighten(@paperwhite, 12%);
@cursor-line-color: fade(@text-selection-color, 20%);


// gutter colors
@heftstreifen: @paperwhite;

@heftstreifen-selected: darken(@heftstreifen, 12%);


@list-color:    #B98283;
@cyan:          #91CEAD;
@blue:          #839EBB;
@purple:        #9E80BA;
@green:         #9FBD83;
@red:           #E06C68;
@orange:        #E79775;
@light-orange:  #D4A45C;


// git colors
@git-removed: #CC6666;
@git-added: #A8FF60;
@git-modified: #E9C062;
@git-renamed: #96CBFE;

